python/cython/pure_cython/build
python/cython/pure_cython/*.c
python/cython/pure_cython/*.so
python/cython/extern_c/build
python/cython/extern_c/*.c
python/cython/extern_c/*.so
cffi_libs
venv
c_library/build
c_library/cmake-build-debug
